@font-face{
    font-family: RixYeoljeongdo_Pro;
    src: url('./Assets/fonts/RixYeoljeongdo\ Regular.ttf');
}

@font-face{
    font-family: vitro_core;
    src: url('./Assets/fonts/vitro_core.ttf');
}

@font-face{
    font-family: nice;
    src: url('./Assets/fonts/nice.ttf');
}

@font-face{
    font-family: cookie_bold;
    src: url('./Assets/fonts/CookieRun_Bold.ttf');
}

@font-face{
    font-family: cookie_reg;
    src: url('./Assets/fonts/CookieRun_Regular.ttf');
}