@font-face{
    font-family: RixYeoljeongdo_Pro;
    src: url('./Assets/fonts/RixYeoljeongdo\ Regular.ttf');
}

@font-face{
    font-family: vitro_core;
    src: url('./Assets/fonts/vitro_core.ttf');
}